{{define "updatedialingcodes"}}
<!DOCTYPE html>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>BackOffice | Update Country Dialing Codes</title>

    {{template "header"}}
</head>

<body>
    {{template "sidenavbar" .DataMap}}


    <main class="content">

        {{template "topnavbar" .DataMap}}


        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
            <div>
                <h1 class="h4">Update Country Dialing Codes</h1>
                <p class="mb-0">Country Dialing Codes below will be updated, please verify and confirm.</p>


            </div>
            <div>
               

                <form action="{{.DataMap.MDMPath}}/updatedialingcodes" method="POST" class="d-inline-flex align-items-center">
                    <div class="m-2 col-lg-6">
                        <input class="btn btn-primary d-inline-flex align-items-center my-2" type="submit" name="submit"
                            value="Confirm">
                            
                       
                        {{range .DataMap.InsertCodes}}

                        
                        <input type="hidden" name="dialingCodesValue[]" value="{{ .Country }}|{{ .Code }}|{{ .CallingCode }}">
                      
                        

                        {{end}}
                    </div>
                </form>



            </div>
        </div>



        {{if .DataMap.UpdateSuccess}}
        <div class="alert alert-success" role="alert">
            <div class="alert-icon">
                <span class="fas fa-bell"></span>
            </div>
            <h4 class="alert-heading">Updated!</h4>
            <p>Country Dialing Codes updated.</p>
            <hr>
            <p class="mb-0">{{.DataMap.Message}}</p>
        </div>
        {{end}}

        {{if .DataMap.UpdateError}}
        <div class="alert alert-danger" role="alert">
            <div class="alert-icon">
                <span class="fas fa-bell"></span>
            </div>
            <h4 class="alert-heading">Update Country Dialing Codes error!</h4>
            <p></p>
            <hr>
            <p class="mb-0">{{.DataMap.Message}}</p>
        </div>
        {{end}}
      
        <span>

        
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <p class="mb-0">{{ .DataMap.ExitingRowsCount }} old Country Dialing Codes will be deleted & {{ .DataMap.NewRowsCount }} new Country Dialing Codes listed below will be inserted.</p>

                <br>
                <div class="table-responsive">
                    <table class="table table-centered table-nowrap mb-0 rounded">
                        <thead class="thead-light">
                            <tr>
                                <th class="border-0 rounded-start">Code</th>
                                <th class="border-0 rounded-end">Country</th>
                                <th class="border-0 rounded-end">Calling Code</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range .DataMap.InsertCodes}}

                            <!-- Item -->
                            <tr>
                                <td>{{ .Code }}</td>
                                <td>{{ .Country }}</td>
                                <td>{{ .CallingCode }}</td>
                            </tr>
                            <!-- End of Item -->

                            {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

       

        
        </span>


        {{template "footer"}}
    </main>

    {{template "loadjavascript"}}


</body>

</html>
{{end}}